<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://openbox.org/">
  <menu id="root-menu" label="Applications">
  <separator label="QUICK START"/>
  <menu id="0.443773857391538" icon="/home/vinicius/.config/obmenu-generator/icons/a44948f67390c095c9de36671b8a18f5.png" label="Launch Apps">
  <menu id="0.00407877596759931" icon="/home/vinicius/.config/obmenu-generator/icons/8863ef590460dbd53a4889407b45ad8f.png" label="Accessories">
    <item label="About Xfce" icon="/home/vinicius/.config/obmenu-generator/icons/1273e66cd3189078721c7f1725748244.png"><action name="Execute"><command><![CDATA[xfce4-about]]></command></action></item>
    <item label="Bulk Rename" icon="/home/vinicius/.config/obmenu-generator/icons/66f971c4ea19b80924481ffcbf1b24b1.png"><action name="Execute"><command><![CDATA[thunar --bulk-rename]]></command></action></item>
    <item label="Emoji Selector" icon="/home/vinicius/.config/obmenu-generator/icons/d5039fd3d2eb2107237752946b1f883c.png"><action name="Execute"><command><![CDATA[ibus-ui-emojier-plasma]]></command></action></item>
    <item label="Files" icon="/home/vinicius/.config/obmenu-generator/icons/5e4aab317ed2846ed39bf5b2629f71d7.png"><action name="Execute"><command><![CDATA[nautilus --new-window]]></command></action></item>
    <item label="Klipper" icon="/home/vinicius/.config/obmenu-generator/icons/70daf079020084a6254478208238ec56.png"><action name="Execute"><command><![CDATA[klipper]]></command></action></item>
    <item label="Neovim" icon="/home/vinicius/.config/obmenu-generator/icons/6b9c849cd23cefa680979053f6d99768.png"><action name="Execute"><command><![CDATA[urxvt -e 'nvim']]></command></action></item>
    <item label="nitrogen" icon="/home/vinicius/.config/obmenu-generator/icons/d2d67eb2ebdab5083cf82b22d5aad462.png"><action name="Execute"><command><![CDATA[nitrogen]]></command></action></item>
    <item label="Parcellite" icon="/home/vinicius/.config/obmenu-generator/icons/18ce9cab758bcfc4ea664ce0dd5b2858.png"><action name="Execute"><command><![CDATA[parcellite]]></command></action></item>
    <item label="Thunar File Manager" icon="/home/vinicius/.config/obmenu-generator/icons/66f971c4ea19b80924481ffcbf1b24b1.png"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="Vim" icon="/home/vinicius/.config/obmenu-generator/icons/a6bca86264e077ace5562b770baec835.png"><action name="Execute"><command><![CDATA[urxvt -e 'vim']]></command></action></item>
  </menu>
  <menu id="0.121985380808962" icon="/home/vinicius/.config/obmenu-generator/icons/374b046f2ff461967103859c37106991.png" label="Development">
    <item label="Cuttlefish" icon="/home/vinicius/.config/obmenu-generator/icons/109055f7ef7f5c51811445d669cbce73.png"><action name="Execute"><command><![CDATA[cuttlefish]]></command></action></item>
    <item label="Geany" icon="/home/vinicius/.config/obmenu-generator/icons/e2e60a5a726c1b75ec283ed682ed7e99.png"><action name="Execute"><command><![CDATA[geany]]></command></action></item>
    <item label="Plasma Engine Explorer" icon="/home/vinicius/.config/obmenu-generator/icons/3db837122f0ea53bd81311d2ccfb8f70.png"><action name="Execute"><command><![CDATA[plasmaengineexplorer]]></command></action></item>
    <item label="Plasma Global Theme Explorer" icon="/home/vinicius/.config/obmenu-generator/icons/17636371c5fb5ae32a806cf61d938805.png"><action name="Execute"><command><![CDATA[lookandfeelexplorer]]></command></action></item>
    <item label="Plasma Theme Explorer" icon="/home/vinicius/.config/obmenu-generator/icons/17636371c5fb5ae32a806cf61d938805.png"><action name="Execute"><command><![CDATA[plasmathemeexplorer]]></command></action></item>
    <item label="UserFeedback Console" icon="/home/vinicius/.config/obmenu-generator/icons/54508787d02c29f7e9b11a02a5258094.png"><action name="Execute"><command><![CDATA[UserFeedbackConsole]]></command></action></item>
  </menu>
  <menu id="0.376625188250678" icon="/home/vinicius/.config/obmenu-generator/icons/d5532c2c383786a69c5de1ab67a534ef.png" label="Graphics">
    <item label="Viewnior" icon="/home/vinicius/.config/obmenu-generator/icons/9864843fe66ba2312b96a5cff49a05de.png"><action name="Execute"><command><![CDATA[viewnior]]></command></action></item>
  </menu>
  <menu id="0.462881125870883" icon="/home/vinicius/.config/obmenu-generator/icons/765eddcedbe559794c93a1a9f5a190f9.png" label="Multimedia">
    <item label="mpv Media Player" icon="/home/vinicius/.config/obmenu-generator/icons/79c64221cd335060c0dfe7b30088197f.png"><action name="Execute"><command><![CDATA[mpv --player-operation-mode=pseudo-gui --]]></command></action></item>
    <item label="Ncmpcpp - Album Art"><action name="Execute"><command><![CDATA[bash -c "$HOME/.ncmpcpp/launch albumart"]]></command></action></item>
    <item label="Ncmpcpp - Single Album Art"><action name="Execute"><command><![CDATA[bash -c "$HOME/.ncmpcpp/launch single-albumart"]]></command></action></item>
    <item label="Ncmpcpp"><action name="Execute"><command><![CDATA[bash -c "$HOME/.ncmpcpp/launch"]]></command></action></item>
    <item label="PulseAudio Volume Control" icon="/home/vinicius/.config/obmenu-generator/icons/3f7c6c58b1198ddbe2bd1dc7c5312df1.png"><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
    <item label="Qt V4L2 test Utility" icon="/home/vinicius/.config/obmenu-generator/icons/a11c0fa0afb68cd735f663a646161fe0.png"><action name="Execute"><command><![CDATA[qv4l2]]></command></action></item>
    <item label="Qt V4L2 video capture utility" icon="/home/vinicius/.config/obmenu-generator/icons/a11c0fa0afb68cd735f663a646161fe0.png"><action name="Execute"><command><![CDATA[qvidcap]]></command></action></item>
  </menu>
  <menu id="0.82709591973979" icon="/home/vinicius/.config/obmenu-generator/icons/b05382e703e2c1b1d6bacf9f0c23709e.png" label="Network">
    <item label="Avahi SSH Server Browser" icon="/home/vinicius/.config/obmenu-generator/icons/31db54355c5b950f27daa71aad32cf9f.png"><action name="Execute"><command><![CDATA[/usr/bin/bssh]]></command></action></item>
    <item label="Avahi VNC Server Browser" icon="/home/vinicius/.config/obmenu-generator/icons/31db54355c5b950f27daa71aad32cf9f.png"><action name="Execute"><command><![CDATA[/usr/bin/bvnc]]></command></action></item>
    <item label="Firefox" icon="/home/vinicius/.config/obmenu-generator/icons/995f0ad8dc0af0a7c440859d5cd441c6.png"><action name="Execute"><command><![CDATA[/usr/lib/firefox/firefox]]></command></action></item>
  </menu>
  <menu id="0.381548990399406" label="Settings">
    <item label="Default applications for LXSession" icon="/home/vinicius/.config/obmenu-generator/icons/b2bba98598f904728fa7111e9a19c285.png"><action name="Execute"><command><![CDATA[lxsession-default-apps]]></command></action></item>
    <item label="Desktop Session Settings" icon="/home/vinicius/.config/obmenu-generator/icons/b2bba98598f904728fa7111e9a19c285.png"><action name="Execute"><command><![CDATA[lxsession-edit]]></command></action></item>
    <item label="File Manager Settings" icon="/home/vinicius/.config/obmenu-generator/icons/66f971c4ea19b80924481ffcbf1b24b1.png"><action name="Execute"><command><![CDATA[thunar-settings]]></command></action></item>
    <item label="KDE System Settings" icon="/home/vinicius/.config/obmenu-generator/icons/f4c61b0c11a63f56f4437ab99d6e12d8.png"><action name="Execute"><command><![CDATA[systemsettings5]]></command></action></item>
    <item label="Openbox Configuration Manager" icon="/home/vinicius/.config/obmenu-generator/icons/61f3de6fd06f9847e869878302ba1980.png"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label="Removable Drives and Media" icon="/home/vinicius/.config/obmenu-generator/icons/9718643b54e43179a5dd583c2ccaf74f.png"><action name="Execute"><command><![CDATA[thunar-volman-settings]]></command></action></item>
    <item label="System Settings" icon="/home/vinicius/.config/obmenu-generator/icons/f4c61b0c11a63f56f4437ab99d6e12d8.png"><action name="Execute"><command><![CDATA[systemsettings5]]></command></action></item>
    <item label="Tint2 Settings" icon="/home/vinicius/.config/obmenu-generator/icons/4b904e53c2acc3e11cb436849a47e4fd.png"><action name="Execute"><command><![CDATA[tint2conf]]></command></action></item>
  </menu>
  <menu id="0.549367568729473" icon="/home/vinicius/.config/obmenu-generator/icons/b2bba98598f904728fa7111e9a19c285.png" label="System">
    <item label="Avahi Zeroconf Browser" icon="/home/vinicius/.config/obmenu-generator/icons/31db54355c5b950f27daa71aad32cf9f.png"><action name="Execute"><command><![CDATA[/usr/bin/avahi-discover]]></command></action></item>
    <item label="Bulk Rename" icon="/home/vinicius/.config/obmenu-generator/icons/66f971c4ea19b80924481ffcbf1b24b1.png"><action name="Execute"><command><![CDATA[thunar --bulk-rename]]></command></action></item>
    <item label="Discover" icon="/home/vinicius/.config/obmenu-generator/icons/a19cd63dad19a61a250014dfe62adcde.png"><action name="Execute"><command><![CDATA[plasma-discover]]></command></action></item>
    <item label="Hardware Locality lstopo"><action name="Execute"><command><![CDATA[lstopo]]></command></action></item>
    <item label="Htop" icon="/home/vinicius/.config/obmenu-generator/icons/23b9a1c3c235d7bc44268f5d750a8579.png"><action name="Execute"><command><![CDATA[urxvt -e 'htop']]></command></action></item>
    <item label="Info Center" icon="/home/vinicius/.config/obmenu-generator/icons/9afae91175ea80d79ece18fdff9f862d.png"><action name="Execute"><command><![CDATA[kinfocenter]]></command></action></item>
    <item label="Konsole" icon="/home/vinicius/.config/obmenu-generator/icons/b088c8f1942948af9f4894093a70a1b2.png"><action name="Execute"><command><![CDATA[konsole]]></command></action></item>
    <item label="KSysGuard" icon="/home/vinicius/.config/obmenu-generator/icons/802a731d2245b2d99c55c9853395151c.png"><action name="Execute"><command><![CDATA[ksysguard]]></command></action></item>
    <item label="System Monitor" icon="/home/vinicius/.config/obmenu-generator/icons/802a731d2245b2d99c55c9853395151c.png"><action name="Execute"><command><![CDATA[plasma-systemmonitor]]></command></action></item>
    <item label="Thunar File Manager" icon="/home/vinicius/.config/obmenu-generator/icons/66f971c4ea19b80924481ffcbf1b24b1.png"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="Tint2" icon="/home/vinicius/.config/obmenu-generator/icons/ec325a03a4fd0c66a54fbca8ce235757.png"><action name="Execute"><command><![CDATA[tint2]]></command></action></item>
  </menu>
  </menu>
  <separator/>
    <item label="Open Terminal" icon="/home/vinicius/.config/obmenu-generator/icons/6b7a63f2cbee8f9c8a4eba028376691f.png"><action name="Execute"><command><![CDATA[~/.scripts/default-apps/launch terminal]]></command></action></item>
    <item label="Open File Manager" icon="/home/vinicius/.config/obmenu-generator/icons/ef5525f3794d630f86d93c77000b5e1c.png"><action name="Execute"><command><![CDATA[~/.scripts/default-apps/launch filemanager]]></command></action></item>
  <separator/>
  <menu id="0.629544524001549" icon="/home/vinicius/.config/obmenu-generator/icons/4ebf1a05752024f5c4ffa9f7854587f4.png" label="Screenshot">
    <item label="Now" icon="/home/vinicius/.config/obmenu-generator/icons/4ebf1a05752024f5c4ffa9f7854587f4.png"><action name="Execute"><command><![CDATA[~/.scripts/shot-now delay]]></command></action></item>
    <item label="After ..s" icon="/home/vinicius/.config/obmenu-generator/icons/4ebf1a05752024f5c4ffa9f7854587f4.png"><action name="Execute"><command><![CDATA[~/.scripts/shot-timer]]></command></action></item>
    <item label="Select window or draw" icon="/home/vinicius/.config/obmenu-generator/icons/4ebf1a05752024f5c4ffa9f7854587f4.png"><action name="Execute"><command><![CDATA[~/.scripts/shot-seldraw]]></command></action></item>
  </menu>
  <separator/>
  <menu id="0.852837536500186" label="Advanced Settings" icon="/home/vinicius/.config/obmenu-generator/icons/3b33f5bca1a4272c65e9392be19d5ecc.png">
    <item label="Menu Schema" icon="/home/vinicius/.config/obmenu-generator/icons/177ff6a9915faad36f938224f3f113c2.png"><action name="Execute"><command><![CDATA[geany /home/vinicius/.config/obmenu-generator/schema.pl]]></command></action></item>
    <item label="Menu Config" icon="/home/vinicius/.config/obmenu-generator/icons/177ff6a9915faad36f938224f3f113c2.png"><action name="Execute"><command><![CDATA[geany /home/vinicius/.config/obmenu-generator/config.pl]]></command></action></item>
  <separator/>
    <item label="Generate a static menu" icon="/home/vinicius/.config/obmenu-generator/icons/e7a89155f92047835c828e60d7bf063d.png"><action name="Execute"><command><![CDATA[obmenu-generator -s -c]]></command></action></item>
    <item label="Generate a static menu with icons" icon="/home/vinicius/.config/obmenu-generator/icons/e7a89155f92047835c828e60d7bf063d.png"><action name="Execute"><command><![CDATA[obmenu-generator -s -i -c]]></command></action></item>
  <separator/>
    <item label="Generate a dynamic menu" icon="/home/vinicius/.config/obmenu-generator/icons/e7a89155f92047835c828e60d7bf063d.png"><action name="Execute"><command><![CDATA[obmenu-generator -p]]></command></action></item>
    <item label="Generate a dynamic menu with icons" icon="/home/vinicius/.config/obmenu-generator/icons/e7a89155f92047835c828e60d7bf063d.png"><action name="Execute"><command><![CDATA[obmenu-generator -p -i]]></command></action></item>
  <separator/>
  <menu id="0.663162318980064" label="Openbox" icon="/home/vinicius/.config/obmenu-generator/icons/cbd33e85d4e0834359519a4e282b2aeb.png">
    <item label="Openbox Autostart" icon="/home/vinicius/.config/obmenu-generator/icons/177ff6a9915faad36f938224f3f113c2.png"><action name="Execute"><command><![CDATA[geany /home/vinicius/.config/openbox/autostart]]></command></action></item>
    <item label="Openbox RC" icon="/home/vinicius/.config/obmenu-generator/icons/177ff6a9915faad36f938224f3f113c2.png"><action name="Execute"><command><![CDATA[geany /home/vinicius/.config/openbox/rc.xml]]></command></action></item>
    <item label="Openbox Menu" icon="/home/vinicius/.config/obmenu-generator/icons/177ff6a9915faad36f938224f3f113c2.png"><action name="Execute"><command><![CDATA[geany /home/vinicius/.config/openbox/menu.xml]]></command></action></item>
    <item label="Reconfigure" icon="/home/vinicius/.config/obmenu-generator/icons/cbd33e85d4e0834359519a4e282b2aeb.png"><action name="Reconfigure"/></item>
  </menu>
  <separator/>
    <item label="Refresh Icon Set" icon="/home/vinicius/.config/obmenu-generator/icons/09248d2a6339271fd5d404e3072031f6.png"><action name="Execute"><command><![CDATA[obmenu-generator -d]]></command></action></item>
  </menu>
  <separator/>
  <separator label="SESSIONS"/>
  <menu id="0.457206671854681" icon="/home/vinicius/.config/obmenu-generator/icons/6da5e375c82dea67d39f1b2a7bc051e6.png" label="Theme Styling">
    <item label="Change Wallpaper" icon="/home/vinicius/.config/obmenu-generator/icons/a311782080112da9da94906e9d884097.png"><action name="Execute"><command><![CDATA[~/.scripts/default-apps/launch terminal -e ~/.config/openbox/visual-mode/wally]]></command></action></item>
    <item label="Reverse Terminal B/F" icon="/home/vinicius/.config/obmenu-generator/icons/6b7a63f2cbee8f9c8a4eba028376691f.png"><action name="Execute"><command><![CDATA[~/.scripts/reverse-term-bf]]></command></action></item>
  <separator/>
    <item label="Change Button Style" icon="/home/vinicius/.config/obmenu-generator/icons/b46d0825411933ca1da12589a022657c.png"><action name="Execute"><command><![CDATA[urxvt -e ~/.config/openbox/visual-mode/ob-button]]></command></action></item>
    <item label="Swap Button L/R" icon="/home/vinicius/.config/obmenu-generator/icons/458b99d25aee88d25f52aaa4d2ea76bc.png"><action name="Execute"><command><![CDATA[~/.config/openbox/visual-mode/ob-button swap]]></command></action></item>
  <separator/>
    <item label="E/D Minimal Mode" icon="/home/vinicius/.config/obmenu-generator/icons/4481847f838b921bfc462d6de228a761.png"><action name="Execute"><command><![CDATA[~/.config/openbox/visual-mode/mode-toggle minimal]]></command></action></item>
    <item label="Switch Visual Mode" icon="/home/vinicius/.config/obmenu-generator/icons/05d2c34e50441fb44fe8a534990bc26c.png"><action name="Execute"><command><![CDATA[~/.config/openbox/visual-mode/mode-toggle]]></command></action></item>
  </menu>
  <separator/>
    <item label="Lockscreen" icon="/home/vinicius/.config/obmenu-generator/icons/56806929f3c35cb64a54a19d01bd00a6.png"><action name="Execute"><command><![CDATA[~/.scripts/default-apps/launch lockscreen]]></command></action></item>
    <item label="Exit Openbox" icon="/home/vinicius/.config/obmenu-generator/icons/fca0b1a0dc973976e70cad0157b35b32.png"><action name="Exit"/></item>
  </menu>
</openbox_menu>
